# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [53]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [54]:
data = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [55]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [56]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [57]:
data['BasePay'].mean()

np.float64(66325.4488404877)

** What is the highest amount of OvertimePay in the dataset ? **

In [58]:
data['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [59]:
data["EmployeeName"].value_counts().sort_index()

EmployeeName
A BERNARD FATOOH         1
A Bernard  Fatooh        1
A Bernard Fatooh         2
A ELIZABETH MARCHASIN    1
A JAMIL NIAZI            1
                        ..
Zun Jin Zhang He         2
Zuna Luu                 1
Zuna T Luu               2
Zuri  Jones              1
Zuri Jones               2
Name: count, Length: 110811, dtype: int64

In [60]:
data[data['EmployeeName'].isin(["JOSEPH DRISCOLL",])]['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [61]:
# How much does JOSEPH DRISCOLL make (including benefits)

JOSEPH_DATA = data[data['EmployeeName']=="JOSEPH DRISCOLL"]
JOSEPH_make = JOSEPH_DATA[['BasePay', 'OvertimePay', 'OtherPay', 'Benefits', 'TotalPay', 'TotalPayBenefits']]
JOSEPH_make.sum(axis=1)

24    810974.73
dtype: float64

** What is the name of highest paid person (including TotalPayBenefits)?**

In [62]:
# Find the employee with the highest TotalPay
highest_pay_row = data.loc[data['TotalPay'].idxmax()]
print(highest_pay_row)

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [63]:
# ** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**
lowest_pay_row = data.loc[data['TotalPay'].idxmin()]
print(lowest_pay_row)

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [64]:
# What was the average (mean) BasePay of all employees per year? (2011-2014) 
data.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [65]:
# How many unique job titles are there?
print(data['JobTitle'].nunique() )
print(data['JobTitle'].value_counts())

2159
JobTitle
Transit Operator                  7036
Special Nurse                     4389
Registered Nurse                  3736
Public Svc Aide-Public Works      2518
Police Officer 3                  2421
                                  ...
Sr Cnselor, Juv Hall (SFERS)         1
Forensic Toxicologist Supervis       1
Conversion                           1
Cashier 3                            1
DEPUTY DIRECTOR OF INVESTMENTS       1
Name: count, Length: 2159, dtype: int64

** What are the top 5 most common jobs? **

In [66]:
# ** What are the top 5 most common jobs? **
print(data['JobTitle'].value_counts().head(5))

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [67]:
# ** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **
job_counts_2013 = data[data['Year'] == 2013]['JobTitle'].value_counts()
unique_jobs_2013 = job_counts_2013[job_counts_2013 == 1].count()
print(unique_jobs_2013)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [68]:
#** How many people have the word Chief in their job title? (This is pretty tricky) **
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False
chief_count = data['JobTitle'].apply(chief_string).sum()
print(chief_count)

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [69]:
# ** Bonus: Is there a correlation between length of the Job Title string and Salary? **
data['title_len'] = data['JobTitle'].apply(len)
data[['title_len', 'TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!